.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  background-color: rgb(185, 7, 239);
}
.container{
  background-color: rgb(247, 17, 55);
  box-shadow: #282c34;
}
.container .card{
  cursor: pointer;
  border-radius: 2%;
  margin: 10px;
}
.container .card:hover{
  cursor: pointer;
  color: #61dafb; 
}
.container audio{
  background-color: blue;
  width: 13vw;
}
.container img{
  width: 100%;
}